@import "tailwindcss";
@plugin "daisyui" {
    themes: all;
}

@layer base {
  :root {
    font-family: var(--font-family, "Inter", sans-serif);
    font-optical-sizing: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
